.heroBox {
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  display: flex;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heroContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  margin: 0;
  font-size: 1.25rem;
  font-style: italic;
}

.name {
  margin: 0 0 1em;
  font-size: 2rem;
}

.caption {
  text-align: center;
  font-weight: 200;
}

@keyframes arrowAnimation {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
}

.downArrow {
  position: absolute;
  bottom: 75px;
  animation: arrowAnimation 2s infinite;
}

.canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
}
