.experiencePic {
  max-width: 18em;
  max-height: 18em;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10%;
  text-align: center;
}

.experienceText {
  margin-top: 2em;
  font-weight: 200;
  max-width: 600px;
}

.experienceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4em;
}

.experienceWrapper:last-child {
  margin-bottom: 0;
}

.experienceTitle {
  margin: 0px 0px 3px 0px;
  color: #32b30e;
}

.experiencePosition {
  margin: 0px 0px 3px 0px;
  color: #2f81e0;
}

.experienceLocation {
  margin: 0px 0px 3px 0px;
  font-weight: 400;
}

/* iPad */
@media (min-width: 768px) {
  .experienceWrapper {
    flex-direction: row;
  }

  .experienceText {
    margin-left: 2em;
  }

  .experiencePic {
    min-width: 18em;
    min-height: 18em;
  }
}
